<form action="/players" method="POST">
  <input name="name" placeholder="Name" required />
  <input name="position" placeholder="Position" required />
  <input name="number" type="number" placeholder="Number" required />
  <button type="submit">Add Player</button>
</form>
